html,
body {
	background: #fffaf7;
	color: #2d2d2d;
	font: 20px/1.5 'IBM Plex Serif','Source Serif Pro', 'Noto Serif SC',  'Times New Roman', serif;
	text-underline-offset: 3px;
}
strong {
	color:black;
}
code {
	font-size: 14px;
}
h1 {
	font-size:1.5em;
}
h2 {
	margin-block-start: 2em;
	margin-block-end: 20px;
	font-size:1.2em;
}
h3 {
	margin-block: 1em;
	font-size:1em;
}
h4 {
	margin-block: 1em;
	font-size:1em;
}
.tc {
	font-family: 'Noto Serif TC', serif;
}

a,
a:visited {
	color: darkred;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	margin: auto;
	max-width: 50rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding-block: 1%;
	padding-inline: 2%;
	margin: 1%;
	max-height: 90%;
	min-height: 21em;
}
td {
	border: 1px solid #2d2d2d;
	padding: 10px;
}
img {
	padding-block: 1%;
	padding-inline: 2%;
	margin: 1%;
	max-height: 90%;
	min-height: 21em;
}
table {
	margin: 1%;
	height: 94%;
}
blockquote {
	margin-inline: 0;
	padding-inline-start: 8px;
	border-top: 2px solid;
	height: 94%;
}
.homepage-list {
	list-style: none;
	padding: 0;
}
.homepage-list li {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.micro-list {
	padding: 0;
}
.micro-list li {
	font-size: 18px;
	margin-bottom: 15px;
}
@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}
@media (prefers-color-scheme: dark) {
    @import "dark";
}

.article-en img {
	max-width: 95%;
	min-height: 0;
}

.article-en {
	font-size: 18px;
}

/* Tategaki */
.tategaki {
    writing-mode: vertical-rl;
    text-align: justify;
}

.latin {
    -webkit-hyphens: auto;
    hyphens: auto;

    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 2;
    -ms-hyphenate-limit-chars: 6 3 2;
    hyphenate-limit-chars: 6 3 2;
}

.kana {
    font-feature-settings: "vpal";
}

/* Tategaki-Chyu-Yokogaki */
.tcy {
    -webkit-text-combine: horizontal;
    -ms-text-combine-horizontal: all;
    text-combine-upright: all;
    position: static !important;
}

.full-width {
    font-feature-settings: "fwid";
    text-transform: full-width;
}

/* Punctuation Adjustment */
/* Correct CJK dashes */
.aalt-on {
    font-feature-settings: "aalt";
}

/* Imitate PcS (Add space and strink height)  */
.imitate-pcs .squeeze-out {
    letter-spacing: -0.5rem;
}

.imitate-pcs .squeeze-in {
    margin-top: -0.5rem;
}

.squeeze-in + .squeeze-in-space {
    display: none;
}

.squeeze-other-punc + .squeeze-in-space {
    display: none;
}

.squeeze-out-space {
    display: none;
}

.squeeze-out-space:last-child {
    display: inline;
}

/* PcS: Using OpenType `vhal` */
.opentype-pcs .squeeze-other-punc + .squeeze-in {
    font-feature-settings: "vhal";
}

.opentype-pcs .squeeze-in + .squeeze-in {
    font-feature-settings: "vhal";
}

.opentype-pcs .squeeze-out {
    font-feature-settings: "vhal";
}

.opentype-pcs .squeeze-out:last-child {
    font-feature-settings: "vhal" 0;
}

/* Correct Punctuations for zh-cn */
.safari .squeeze-other-punc {
    font-feature-settings: 'locl';
}

.safari .squeeze-other-punc {
    font-feature-settings: 'locl';
}

/* Disable glyph replacement in context for Firefox and Chrome */
.firefox .squeeze-other-punc:last-child {
    margin-bottom: -1rem;
}

.chrome .squeeze-other-punc:only-child,
.firefox .squeeze-other-punc:only-child::before {
    margin-top: -1rem;
}

.chrome .squeeze-other-punc:only-child::before,
.firefox .squeeze-other-punc:only-child::before,
.firefox .squeeze-other-punc:last-child::after {
    content: '\2060〇'; /* U+2060 WORD JOINER, avoid punc being first in a line */
    opacity: 0;
}