{% macro post_in_list(post) %}
<li>
  <a href="{{ post.permalink | safe }}#title">{{ post.title }}</a>
  {% if post.extra.lang == "en" %}
    <time style="font-size:90%;" datetime="{{ post.date | date(format="%+") }}">{{ post.date | date(format="%B %d, %Y") }}</time>
  {% else %}
    <p style="font-size:90%;">{{ macros::format_chinese_date(year=post.year, month=post.month, day=post.day) }}</p>
  {% endif %}
</li>
{% endmacro post_in_list %}

{% macro format_chinese_date(year, month, day) %}
{% set lut1 = [
    '二〇二〇', '二〇二一', '二〇二二', '二〇二三', '二〇二四', '二〇二五', '二〇二六', '二〇二七', '二〇二八', '二〇二九', 
    '二〇三〇', '二〇三一', '二〇三二', '二〇三三', '二〇三四', '二〇三五', '二〇三六', '二〇三七', '二〇三八', '二〇三九', 
    '二〇四〇', '二〇四一', '二〇四二', '二〇四三', '二〇四四', '二〇四五', '二〇四六', '二〇四七', '二〇四八', '二〇四九', 
    '二〇五〇', '二〇五一', '二〇五二', '二〇五三', '二〇五四', '二〇五五', '二〇五六', '二〇五七', '二〇五八', '二〇五九', 
    '二〇六〇', '二〇六一', '二〇六二', '二〇六三', '二〇六四', '二〇六五', '二〇六六', '二〇六七', '二〇六八', '二〇六九', 
    '二〇七〇', '二〇七一', '二〇七二', '二〇七三', '二〇七四', '二〇七五', '二〇七六', '二〇七七', '二〇七八', '二〇七九', 
    '二〇八〇', '二〇八一', '二〇八二', '二〇八三', '二〇八四', '二〇八五', '二〇八六', '二〇八七', '二〇八八', '二〇八九', 
    '二〇九〇', '二〇九一', '二〇九二', '二〇九三', '二〇九四', '二〇九五', '二〇九六', '二〇九七', '二〇九八', '二〇九九'] %}
    {% set lut2 = ["　一", "　二", "　三", "　四", "　五", "　六", "　七", "　八", "　九", "　十", "十一", "十二"] %}
{% set lut3 = [
    '一日　　', '二日　　', '三日　　', '四日　　',
    '五日　　', '六日　　', '七日　　', '八日　　',
    '九日　　', '十日　　', '十一日　', '十二日　',
    '十三日　', '十四日　', '十五日　', '十六日　',
    '十七日　', '十八日　', '十九日　', '二十日　',
    '二十一日', '二十二日', '二十三日', '二十四日',
    '二十五日', '二十六日', '二十七日', '二十八日',
    '二十九日', '三十日　', '三十一日'] %}

<slot style="letter-spacing: 1px;">{{ lut1 | nth(n=year-2020)}}年{{ lut2 | nth(n=month-1)}}月{{ lut3 | nth(n=day-1) }}</slot>
{% endmacro %}
